
* {
  box-sizing: border-box;
}

a {
    text-decoration: none;
      color: inherit;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--secondary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--secondary);
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}


input[type="button"] {
    outline: none;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    outline: none;
    border: none;
}

*:focus {
    outline: 0 !important;
}

button {
    outline: 0 !important;
    border: none;
}

html, body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

